In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN'.
application_df = application_df.drop(columns = ['EIN'])

In [3]:
# Determine the number of unique values in each column.
for x in application_df.columns:
    print(x, len(application_df[x].unique()))

NAME 19568
APPLICATION_TYPE 17
AFFILIATION 6
CLASSIFICATION 71
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 8747
IS_SUCCESSFUL 2

In [4]:
counts1 = application_df['NAME'].value_counts()
counts1

PARENT BOOSTER USA INC                                 1260
TOPS CLUB INC                                           765
UNITED STATES BOWLING CONGRESS INC                      700
WASHINGTON STATE UNIVERSITY                             492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC         408
                                                       ...
ILLUMIQUEST INC                                           1
BAY AREA CONFERENCE OF ASSOCIATES AND RELIGIOUS INC       1
PREVENT A LITTER CONNECTION INC                           1
CALIFORNIA INDIAN ENVIRONMENTAL ALLIANCE                  1
A WORD FOR THE TIMES INC                                  1
Name: NAME, Length: 19568, dtype: int64

In [5]:
# Choose a cutoff value and create a list of names_replace to be replaced
# use the variable name names_replace
names_replace = list(counts1[counts1<5].index)

In [6]:
# Look at APPLICATION TYPE counts for binning
counts = application_df['APPLICATION_TYPE'].value_counts()
counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(counts[counts<500].index)
application_types_to_replace

['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T15', 'T29', 'T17']

In [8]:
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Look at CLASSIFICATION value counts for binning
countsbinning = application_df['CLASSIFICATION'].value_counts()

In [10]:
# You may find it helpful to look at CLASSIFICATION value counts >1
countsclassification = countsbinning[countsbinning>1]
countsclassification

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1278       10
C1238       10
C1235        9
C1237        9
C7210        7
C1720        6
C2400        6
C4100        6
C1600        5
C1257        5
C2710        3
C0           3
C1260        3
C1234        2
C3200        2
C1267        2
C1256        2
C1246        2
Name: CLASSIFICATION, dtype: int64

In [11]:
classifications_to_replace = list (countsbinning[countsbinning<100].index)

In [12]:
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [13]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,NAME_13TH BOMB SQUADRON ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [14]:
y = application_df['IS_SUCCESSFUL'].values
X = application_df.drop('IS_SUCCESSFUL', axis=1).values

In [15]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

In [16]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [17]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=7
hidden_nodes_layer2=14
hidden_nodes_layer3=21
nn = tf.keras.models.Sequential()

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 7)                 137326

 dense_1 (Dense)             (None, 14)                112

 dense_2 (Dense)             (None, 1)                 15

=================================================================
Total params: 137,453
Trainable params: 137,453
Non-trainable params: 0
_________________________________________________________________

In [18]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [19]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=100)

Epoch 1/100
684/684 [==============================] - 12s 16ms/step - loss: 0.5065 - accuracy: 0.7462 - val_loss: 0.4516 - val_accuracy: 0.7930
Epoch 2/100
684/684 [==============================] - 5s 8ms/step - loss: 0.3109 - accuracy: 0.8535 - val_loss: 0.4620 - val_accuracy: 0.7567
Epoch 3/100
684/684 [==============================] - 3s 5ms/step - loss: 0.1879 - accuracy: 0.9238 - val_loss: 0.7369 - val_accuracy: 0.7981
Epoch 4/100
684/684 [==============================] - 3s 5ms/step - loss: 0.1385 - accuracy: 0.9438 - val_loss: 0.7804 - val_accuracy: 0.7963
Epoch 5/100
684/684 [==============================] - 3s 5ms/step - loss: 0.1216 - accuracy: 0.9489 - val_loss: 0.7020 - val_accuracy: 0.8002
Epoch 6/100
684/684 [==============================] - 3s 4ms/step - loss: 0.1125 - accuracy: 0.9536 - val_loss: 0.6952 - val_accuracy: 0.7997
Epoch 7/100
684/684 [==============================] - 3s 5ms/step - loss: 0.1028 - accuracy: 0.9590 - val_loss: 0.9867 - val_accuracy: 0.7999
Epoch 8/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0970 - accuracy: 0.9618 - val_loss: 0.8926 - val_accuracy: 0.7997
Epoch 9/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0957 - accuracy: 0.9613 - val_loss: 0.9183 - val_accuracy: 0.7999
Epoch 10/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0949 - accuracy: 0.9616 - val_loss: 0.9474 - val_accuracy: 0.8005
Epoch 11/100
684/684 [==============================] - 4s 6ms/step - loss: 0.0949 - accuracy: 0.9620 - val_loss: 0.7954 - val_accuracy: 0.7999
Epoch 12/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0939 - accuracy: 0.9623 - val_loss: 0.7650 - val_accuracy: 0.8002
Epoch 13/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0940 - accuracy: 0.9631 - val_loss: 0.6111 - val_accuracy: 0.8005
Epoch 14/100
684/684 [==============================] - 4s 5ms/step - loss: 0.0934 - accuracy: 0.9628 - val_loss: 0.6018 - val_accuracy: 0.7930
Epoch 15/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0936 - accuracy: 0.9625 - val_loss: 0.5276 - val_accuracy: 0.8038
Epoch 16/100
684/684 [==============================] - 4s 5ms/step - loss: 0.0927 - accuracy: 0.9626 - val_loss: 0.5153 - val_accuracy: 0.8025
Epoch 17/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0933 - accuracy: 0.9622 - val_loss: 0.4912 - val_accuracy: 0.7836
Epoch 18/100
684/684 [==============================] - 4s 5ms/step - loss: 0.0923 - accuracy: 0.9628 - val_loss: 0.5152 - val_accuracy: 0.8020
Epoch 19/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0914 - accuracy: 0.9623 - val_loss: 0.5374 - val_accuracy: 0.8010
Epoch 20/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0914 - accuracy: 0.9626 - val_loss: 0.5398 - val_accuracy: 0.8010
Epoch 21/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0902 - accuracy: 0.9628 - val_loss: 0.5571 - val_accuracy: 0.8012
Epoch 22/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0906 - accuracy: 0.9625 - val_loss: 0.5283 - val_accuracy: 0.7981
Epoch 23/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0905 - accuracy: 0.9631 - val_loss: 0.5768 - val_accuracy: 0.7981
Epoch 24/100
684/684 [==============================] - 4s 5ms/step - loss: 0.0964 - accuracy: 0.9625 - val_loss: 0.6012 - val_accuracy: 0.6489
Epoch 25/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0935 - accuracy: 0.9630 - val_loss: 0.4911 - val_accuracy: 0.7974
Epoch 26/100
684/684 [==============================] - 6s 8ms/step - loss: 0.0969 - accuracy: 0.9612 - val_loss: 0.5550 - val_accuracy: 0.7523
Epoch 27/100
684/684 [==============================] - 4s 6ms/step - loss: 0.0989 - accuracy: 0.9614 - val_loss: 0.6206 - val_accuracy: 0.7546
Epoch 28/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0910 - accuracy: 0.9630 - val_loss: 0.6357 - val_accuracy: 0.7297
Epoch 29/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0886 - accuracy: 0.9637 - val_loss: 0.6320 - val_accuracy: 0.7779
Epoch 30/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0881 - accuracy: 0.9636 - val_loss: 0.6908 - val_accuracy: 0.7945
Epoch 31/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0880 - accuracy: 0.9635 - val_loss: 0.6412 - val_accuracy: 0.7587
Epoch 32/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0879 - accuracy: 0.9649 - val_loss: 0.7213 - val_accuracy: 0.7945
Epoch 33/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0878 - accuracy: 0.9643 - val_loss: 0.6745 - val_accuracy: 0.7909
Epoch 34/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0873 - accuracy: 0.9642 - val_loss: 0.6642 - val_accuracy: 0.7336
Epoch 35/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0869 - accuracy: 0.9645 - val_loss: 0.6533 - val_accuracy: 0.7391
Epoch 36/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0864 - accuracy: 0.9645 - val_loss: 0.7044 - val_accuracy: 0.7963
Epoch 37/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0861 - accuracy: 0.9648 - val_loss: 0.7481 - val_accuracy: 0.7937
Epoch 38/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0865 - accuracy: 0.9643 - val_loss: 0.8339 - val_accuracy: 0.8005
Epoch 39/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0864 - accuracy: 0.9643 - val_loss: 0.7284 - val_accuracy: 0.7142
Epoch 40/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0862 - accuracy: 0.9645 - val_loss: 0.6618 - val_accuracy: 0.7398
Epoch 41/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0856 - accuracy: 0.9645 - val_loss: 0.6624 - val_accuracy: 0.7704
Epoch 42/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0851 - accuracy: 0.9646 - val_loss: 0.6694 - val_accuracy: 0.7714
Epoch 43/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0859 - accuracy: 0.9646 - val_loss: 0.7030 - val_accuracy: 0.7862
Epoch 44/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0852 - accuracy: 0.9649 - val_loss: 0.6795 - val_accuracy: 0.7748
Epoch 45/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0856 - accuracy: 0.9650 - val_loss: 0.7271 - val_accuracy: 0.7054
Epoch 46/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0853 - accuracy: 0.9649 - val_loss: 0.7072 - val_accuracy: 0.7245
Epoch 47/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0853 - accuracy: 0.9655 - val_loss: 0.7620 - val_accuracy: 0.6950
Epoch 48/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0851 - accuracy: 0.9653 - val_loss: 0.8774 - val_accuracy: 0.6652
Epoch 49/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0853 - accuracy: 0.9649 - val_loss: 0.6772 - val_accuracy: 0.7725
Epoch 50/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0851 - accuracy: 0.9656 - val_loss: 0.6518 - val_accuracy: 0.7564
Epoch 51/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0852 - accuracy: 0.9653 - val_loss: 0.6572 - val_accuracy: 0.7147
Epoch 52/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0852 - accuracy: 0.9655 - val_loss: 0.6266 - val_accuracy: 0.7398
Epoch 53/100
684/684 [==============================] - 4s 6ms/step - loss: 0.0851 - accuracy: 0.9650 - val_loss: 0.6664 - val_accuracy: 0.7080
Epoch 54/100
684/684 [==============================] - 6s 8ms/step - loss: 0.0847 - accuracy: 0.9653 - val_loss: 0.6638 - val_accuracy: 0.6971
Epoch 55/100
684/684 [==============================] - 5s 7ms/step - loss: 0.0848 - accuracy: 0.9655 - val_loss: 0.6571 - val_accuracy: 0.7178
Epoch 56/100
684/684 [==============================] - 4s 5ms/step - loss: 0.0846 - accuracy: 0.9653 - val_loss: 0.6459 - val_accuracy: 0.7199
Epoch 57/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0847 - accuracy: 0.9660 - val_loss: 0.6989 - val_accuracy: 0.6872

Epoch 58/100
684/684 [==============================] - 4s 6ms/step - loss: 0.0847 - accuracy: 0.9657 - val_loss: 0.6303 - val_accuracy: 0.7183
Epoch 59/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0839 - accuracy: 0.9653 - val_loss: 0.6590 - val_accuracy: 0.6826
Epoch 60/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0848 - accuracy: 0.9657 - val_loss: 0.6406 - val_accuracy: 0.7194
Epoch 61/100
684/684 [==============================] - 4s 6ms/step - loss: 0.0845 - accuracy: 0.9651 - val_loss: 0.6103 - val_accuracy: 0.6841
Epoch 62/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0842 - accuracy: 0.9656 - val_loss: 0.5950 - val_accuracy: 0.7554
Epoch 63/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0838 - accuracy: 0.9659 - val_loss: 0.5887 - val_accuracy: 0.7157
Epoch 64/100
684/684 [==============================] - 4s 5ms/step - loss: 0.0844 - accuracy: 0.9657 - val_loss: 0.5868 - val_accuracy: 0.6818
Epoch 65/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0848 - accuracy: 0.9656 - val_loss: 0.6828 - val_accuracy: 0.7717
Epoch 66/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0860 - accuracy: 0.9645 - val_loss: 0.8244 - val_accuracy: 0.7992
Epoch 67/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0850 - accuracy: 0.9661 - val_loss: 1.0426 - val_accuracy: 0.8012
Epoch 68/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0845 - accuracy: 0.9650 - val_loss: 1.0190 - val_accuracy: 0.8012
Epoch 69/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0843 - accuracy: 0.9658 - val_loss: 1.2039 - val_accuracy: 0.8023
Epoch 70/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0839 - accuracy: 0.9660 - val_loss: 1.2402 - val_accuracy: 0.8010
Epoch 71/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0844 - accuracy: 0.9651 - val_loss: 1.3964 - val_accuracy: 0.8005
Epoch 72/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0842 - accuracy: 0.9652 - val_loss: 1.3847 - val_accuracy: 0.8018
Epoch 73/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0836 - accuracy: 0.9657 - val_loss: 1.3511 - val_accuracy: 0.8012
Epoch 74/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0841 - accuracy: 0.9652 - val_loss: 1.5041 - val_accuracy: 0.8005
Epoch 75/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0836 - accuracy: 0.9658 - val_loss: 1.3317 - val_accuracy: 0.8005
Epoch 76/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0834 - accuracy: 0.9655 - val_loss: 1.5687 - val_accuracy: 0.7997
Epoch 77/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0835 - accuracy: 0.9661 - val_loss: 1.4103 - val_accuracy: 0.8018
Epoch 78/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0835 - accuracy: 0.9659 - val_loss: 1.5742 - val_accuracy: 0.7997
Epoch 79/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0835 - accuracy: 0.9657 - val_loss: 1.5748 - val_accuracy: 0.7997
Epoch 80/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0837 - accuracy: 0.9657 - val_loss: 1.7012 - val_accuracy: 0.8005
Epoch 81/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0833 - accuracy: 0.9660 - val_loss: 1.4280 - val_accuracy: 0.7992
Epoch 82/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0833 - accuracy: 0.9660 - val_loss: 1.4231 - val_accuracy: 0.7997
Epoch 83/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0831 - accuracy: 0.9653 - val_loss: 1.5029 - val_accuracy: 0.7999
Epoch 84/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0832 - accuracy: 0.9657 - val_loss: 1.5439 - val_accuracy: 0.7992
Epoch 85/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0833 - accuracy: 0.9660 - val_loss: 1.4971 - val_accuracy: 0.7999
Epoch 86/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0831 - accuracy: 0.9656 - val_loss: 1.7345 - val_accuracy: 0.7987
Epoch 87/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0827 - accuracy: 0.9661 - val_loss: 1.6159 - val_accuracy: 0.7999
Epoch 88/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0830 - accuracy: 0.9659 - val_loss: 1.7453 - val_accuracy: 0.7992
Epoch 89/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0830 - accuracy: 0.9660 - val_loss: 1.8455 - val_accuracy: 0.7989
Epoch 90/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0828 - accuracy: 0.9659 - val_loss: 1.8079 - val_accuracy: 0.7994
Epoch 91/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0829 - accuracy: 0.9651 - val_loss: 1.8908 - val_accuracy: 0.7994
Epoch 92/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0830 - accuracy: 0.9652 - val_loss: 1.8403 - val_accuracy: 0.8005
Epoch 93/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0827 - accuracy: 0.9661 - val_loss: 1.8414 - val_accuracy: 0.8002
Epoch 94/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0835 - accuracy: 0.9655 - val_loss: 2.1090 - val_accuracy: 0.7992
Epoch 95/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0828 - accuracy: 0.9664 - val_loss: 2.0847 - val_accuracy: 0.7992
Epoch 96/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0829 - accuracy: 0.9657 - val_loss: 2.0743 - val_accuracy: 0.8005
Epoch 97/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0823 - accuracy: 0.9661 - val_loss: 2.1340 - val_accuracy: 0.8005
Epoch 98/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0831 - accuracy: 0.9657 - val_loss: 2.4226 - val_accuracy: 0.7989
Epoch 99/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0822 - accuracy: 0.9664 - val_loss: 2.2753 - val_accuracy: 0.7994
Epoch 100/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0824 - accuracy: 0.9666 - val_loss: 2.3981 - val_accuracy: 0.7999

In [20]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 2s - loss: 0.5976 - accuracy: 0.7562 - 2s/epoch - 6ms/step
Loss: 0.5976009964942932, Accuracy: 0.7561516165733337

In [21]:
nn.save('AlphabetSoupCharity_Optimization.h5')